input {
  background: white;
  border: solid 0px;
}
.background,
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  background-image: url(../../assets/login-background.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  animation-name: fade;
  animation-duration: 0.5s;
}
.login {
  gap: 60px;
  opacity: 0;
  height: 300px;
  width: 400px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  animation-name: open;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: 0.5s;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 35px;
  position: absolute;
  height: 250px;
  width: 0px;
  background: white;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  opacity: 0;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 15px gray;
  cursor: pointer;
  user-select: none;
  animation-name: appear;
  animation-duration: 0.2s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  font-family: monospace;
}
.button:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}
.button:active {
  transition: 0.1s;
  box-shadow: 0px 0px 10px gray;
  transform: scale(95%);
}

.hide {
  display: none;
}

.form {
  font-family: monospace;
  animation-name: toform;
  height: 80px;
  width: 80px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes toform {
  0% {
    color: black;

    right: 70px;
    position: relative;
    box-shadow: 0px 0px 15px gray;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  50% {
    color: white;

    right: 70px;
    position: relative;
    box-shadow: 0px 0px 15px gray;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  100% {
    color: white;

    right: 70px;
    transform: translateX(70px);
    position: relative;
    height: 250px;
    width: 350px;
  }
}

@keyframes appear {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open {
  0% {
    opacity: 0;
    width: 30px;
    height: 0px;
  }
  30% {
    opacity: 1;
    height: 300px;
    width: 30px;
  }
  100% {
    opacity: 1;
  }
}
