.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  height: 160px;
  background-color: rgb(217, 219, 140);
  border-radius: 30px;
  margin: 20px;
  transition: 0.2s;
  .table {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 70%;
    border-radius: 30px;
    background-color: rgb(180, 143, 172);
    transform: rotate(45deg);
  }
  h1 {
    transform: rotate(-45deg);
    font-size: 60px;
  }
}

.container:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 10px 0.5px rgba(13, 7, 0, 0.7);
  .table{
    animation: hovered 1s;
    animation-fill-mode: forwards;
  }
  .table h1{
    animation: rotate 1s;
    animation-fill-mode: forwards;
  }

}

@keyframes hovered {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(405deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-405deg);
  }
}
@keyframes scaled {
  0% {
  }

  100% {
    box-shadow: 5px 5px 10px 0.5px rgba(13, 7, 0, 0.7);
  }
}
