.user-container{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect{
    width: 5%;
    height: 70%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 60px;
    animation: scale-rect 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes scale-rect {
    0% {
      border-radius: 10px;
    }
    100% {
      border-radius: 60px;
      width: 80%;
    }
}

